.m-art {
    height: 700px;
}
.jb {
  min-height: 85vh;
}
.card {
  background-color: #fff0;
}
.card-body {
  text-align: center;
}
.jb-mn {
  border-radius: 0;
}
.jb-mn .card {
  border: 0;
}
.jb-sc .card-body {
  box-shadow: none;
}
.jb-mn .card-img-top {
  width: 40%;
  margin-left: 60%;
  animation: imgRt 4s infinite
}
.jb-sc .col-md-3 {
  background-color: #fdfdfd;
}
.jb-sc .card-text {
  margin-top: 0;
}
.jb-sc .card-img-top {
  transition: all 1s;
}
.jb-sc .col-md-3:hover .card-img-top {
  transform: rotateY(180deg);
}
.jb-sc .ct-a {
  color: #4486f5;
}
.jb-sc .ct-b {
  color: #F44336;
}
.jb-sc .ct-c {
  color: #009688;
}
.jb-sc .col-md-3 {
  transform: scale(.95);
}

.jb-sc .card-img-top {
  padding: 0 76px 30px;
}
.jb-sc .display-4 {
  color: #2196F3;
  width: 50%;
  margin: 0 25%;
  border-bottom: 2px solid #e9ecef;
  padding-bottom: 8px;
}
.card-text {
  font-size: 24px;
  margin-top: 2em;
  margin-bottom: 2em;
}
.card-img-overlay {
  padding: 5em;
  padding-right: 0;
  width: 60%;
}

.txVar {color: #07709c;}

.txCont {
  animation: txScrll 4s infinite;
}
.wr-stp .col-md-3:nth-child(1) { animation: stpScl-a 3s infinite; }
.wr-stp .col-md-3:nth-child(2) { animation: stpScl-b 3s infinite; }
.wr-stp .col-md-3:nth-child(3) { animation: stpScl-c 3s infinite; }

.txVarCont {
  overflow-y: hidden;
  height: 1.4em;
}
.txVar {
  margin: 5px 0;
}
.wrk {
  text-align: center;
}
@keyframes stpScl-a {
  5% { transform: scale(1); background-color: #fff;}
  35% { transform: scale(.95); background-color: #fdfdfd;}
  70% { transform: scale(.95); background-color: #fdfdfd;}
  100% { transform: scale(.95); background-color: #fdfdfd;}
}
@keyframes stpScl-b {
  5% { transform: scale(.95); background-color: #fdfdfd;}
  35% { transform: scale(1); background-color: #fff;}
  70% { transform: scale(.95); background-color: #fdfdfd;}
  100% { transform: scale(.95); background-color: #fdfdfd;}
}
@keyframes stpScl-c {
  5% { transform: scale(.95); background-color: #fdfdfd;}
  35% { transform: scale(.95); background-color: #fdfdfd;}
  70% { transform: scale(1); background-color: #fff;}
  100% { transform: scale(.95); background-color: #fdfdfd;}
}
@keyframes txScrll {
  0% { transform: translateY(0%); }
  15% { transform: translateY(0%); }
  20% { transform: translateY(-28%); }
  55% { transform: translateY(-28%); }
  60% { transform: translateY(-51%); }
  75% { transform: translateY(-51%); }
  80% { transform: translateY(-78%); }
  95% { transform: translateY(-78%); }
  100% { transform: translateY(0%); }
}
@keyframes imgRt {
  0% { -webkit-transform: rotate(0deg); }
  15% { -webkit-transform: rotate(90deg); }
  55% { -webkit-transform: rotate(180deg); }
  75% { -webkit-transform: rotate(90deg); }
  95% { -webkit-transform: rotate(0deg); }
}
.jb-sc .cnt {
  margin: 0 40%;
  width: 20%;
  text-align: center;
  font-weight: 600;
  font-size: 60px;
}
