nav {
   position: relative !important;
}
.jumbotron {
   background-color: #ffffffb5 !important;
   box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.16);
}
.container-fluid {
  background-image: url(/gallery/img/nature-bird-bg.png);
  background-size: contain;
}
.sndCont {
  text-align: center;
}
.sndCont button {
  padding: 8px 44px;
  margin-top: 28px;
}
.sndCont button i {
  margin: 0 6px;
}
.display-4 {
  text-align: center;border-bottom: 1px solid #dfe3e6;
}
